EVE/__pycache__/
utils/__pycache__/

results/VAE_parameters/*
!results/VAE_parameters/.gitkeep
results/plots_histograms/*
!results/plots_histograms/.gitkeep
results/plots_scores_vs_labels/*
!results/plots_scores_vs_labels/.gitkeep
results/EVE_scores/*
!results/EVE_scores/.gitkeep
results/evol_indices/*
!results/evol_indices/.gitkeep

data/mappings/*
!results/mappings/.gitkeep
data/weights/*
!results/weights/.gitkeep
data/mutations/*
!results/mutations/.gitkeep

temp_archives

logs/*
!logs/.gitkeep

slurm_stdout